<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/home.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> 

    <title>Document</title>
</head>
<body>
    <div class="header">
        <div class="header-navigator" style="text-decoration: underline;">
            Product
        </div>
        <div class="header-navigator">
            Voucher
        </div>
    </div>
    {{{body}}}
</body>
</html>